In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [2]:
import seaborn as sns

In [4]:
#Import our data
df = pd.read_csv('weatherAUS.csv')

In [5]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [6]:
#info about dateframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [7]:
#Above columns do contain null values / NaN values

In [8]:
df.count().sort_values()

Sunshine          75625
Evaporation       82670
Cloud3pm          86102
Cloud9am          89572
Pressure9am      130395
Pressure3pm      130432
WindDir9am       134894
WindGustDir      135134
WindGustSpeed    135197
Humidity3pm      140953
WindDir3pm       141232
Temp3pm          141851
RainTomorrow     142193
RainToday        142199
Rainfall         142199
WindSpeed3pm     142398
Humidity9am      142806
Temp9am          143693
WindSpeed9am     143693
MinTemp          143975
MaxTemp          144199
Location         145460
Date             145460
dtype: int64

In [9]:
#since columns like Sunshine, Evaporation, Cloud3pm, Cloud9am have most of its values as null, we shall eliminate those columns
# Owing to the context, Date , location are irrelevant for analysis

In [10]:
df.drop(columns=['Evaporation', 'Sunshine', 'Cloud3pm', 'Cloud9am','Date', 'Location'],axis=1, inplace=True)

In [11]:
df.head()

,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,13.4,22.9,0.6,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,No,No
1,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,No,No
2,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,No,No
3,9.2,28.0,0.0,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,No,No
4,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7,No,No

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   MinTemp        143975 non-null  float64
 1   MaxTemp        144199 non-null  float64
 2   Rainfall       142199 non-null  float64
 3   WindGustDir    135134 non-null  object
 4   WindGustSpeed  135197 non-null  float64
 5   WindDir9am     134894 non-null  object
 6   WindDir3pm     141232 non-null  object
 7   WindSpeed9am   143693 non-null  float64
 8   WindSpeed3pm   142398 non-null  float64
 9   Humidity9am    142806 non-null  float64
 10  Humidity3pm    140953 non-null  float64
 11  Pressure9am    130395 non-null  float64
 12  Pressure3pm    130432 non-null  float64
 13  Temp9am        143693 non-null  float64
 14  Temp3pm        141851 non-null  float64
 15  RainToday      142199 non-null  object
 16  RainTomorrow   142193 non-null  object
dtypes: float64(12), object(5)
memory usage: 18.9+ MB

In [13]:
df['RainToday'].replace({'No': 0, 'Yes': 1}, inplace = True)
df['RainTomorrow'].replace({'No': 0, 'Yes': 1}, inplace = True)

In [14]:
df.head() #above we replaced No with 0 and Yes with 1

,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,13.4,22.9,0.6,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,16.9,21.8,0.0,0.0
1,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,17.2,24.3,0.0,0.0
2,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,21.0,23.2,0.0,0.0
3,9.2,28.0,0.0,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,18.1,26.5,0.0,0.0
4,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,17.8,29.7,0.0,0.0

In [15]:
#some features still need to be converted into numerical form
features_to_be_converted = ['WindGustDir', 'WindDir9am', 'WindDir3pm']
df_final = pd.get_dummies(df, columns=features_to_be_converted)
df_final.head()

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,...,WindDir3pm_NNW,WindDir3pm_NW,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW
0,13.4,22.9,0.6,44.0,20.0,24.0,71.0,22.0,1007.7,1007.1,...,0,0,0,0,0,0,0,0,1,0
1,7.4,25.1,0.0,44.0,4.0,22.0,44.0,25.0,1010.6,1007.8,...,0,0,0,0,0,0,0,0,0,1
2,12.9,25.7,0.0,46.0,19.0,26.0,38.0,30.0,1007.6,1008.7,...,0,0,0,0,0,0,0,0,0,1
3,9.2,28.0,0.0,24.0,11.0,9.0,45.0,16.0,1017.6,1012.8,...,0,0,0,0,0,0,0,0,0,0
4,17.5,32.3,1.0,41.0,7.0,20.0,82.0,33.0,1010.8,1006.0,...,0,1,0,0,0,0,0,0,0,0

In [16]:
series = pd.Series(list('abca')) #Example to show how pd.get_dummies work()

In [17]:
series

0    a
1    b
2    c
3    a
dtype: object

In [18]:
pd.get_dummies(series)

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0

In [19]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 62 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   MinTemp          143975 non-null  float64
 1   MaxTemp          144199 non-null  float64
 2   Rainfall         142199 non-null  float64
 3   WindGustSpeed    135197 non-null  float64
 4   WindSpeed9am     143693 non-null  float64
 5   WindSpeed3pm     142398 non-null  float64
 6   Humidity9am      142806 non-null  float64
 7   Humidity3pm      140953 non-null  float64
 8   Pressure9am      130395 non-null  float64
 9   Pressure3pm      130432 non-null  float64
 10  Temp9am          143693 non-null  float64
 11  Temp3pm          141851 non-null  float64
 12  RainToday        142199 non-null  float64
 13  RainTomorrow     142193 non-null  float64
 14  WindGustDir_E    145460 non-null  uint8
 15  WindGustDir_ENE  145460 non-null  uint8
 16  WindGustDir_ESE  145460 non-null  uint8
 17  WindGustDir_N    145460 non-null  uint8
 18  WindGustDir_NE   145460 non-null  uint8
 19  WindGustDir_NNE  145460 non-null  uint8
 20  WindGustDir_NNW  145460 non-null  uint8
 21  WindGustDir_NW   145460 non-null  uint8
 22  WindGustDir_S    145460 non-null  uint8
 23  WindGustDir_SE   145460 non-null  uint8
 24  WindGustDir_SSE  145460 non-null  uint8
 25  WindGustDir_SSW  145460 non-null  uint8
 26  WindGustDir_SW   145460 non-null  uint8
 27  WindGustDir_W    145460 non-null  uint8
 28  WindGustDir_WNW  145460 non-null  uint8
 29  WindGustDir_WSW  145460 non-null  uint8
 30  WindDir9am_E     145460 non-null  uint8
 31  WindDir9am_ENE   145460 non-null  uint8
 32  WindDir9am_ESE   145460 non-null  uint8
 33  WindDir9am_N     145460 non-null  uint8
 34  WindDir9am_NE    145460 non-null  uint8
 35  WindDir9am_NNE   145460 non-null  uint8
 36  WindDir9am_NNW   145460 non-null  uint8
 37  WindDir9am_NW    145460 non-null  uint8
 38  WindDir9am_S     145460 non-null  uint8
 39  WindDir9am_SE    145460 non-null  uint8
 40  WindDir9am_SSE   145460 non-null  uint8
 41  WindDir9am_SSW   145460 non-null  uint8
 42  WindDir9am_SW    145460 non-null  uint8
 43  WindDir9am_W     145460 non-null  uint8
 44  WindDir9am_WNW   145460 non-null  uint8
 45  WindDir9am_WSW   145460 non-null  uint8
 46  WindDir3pm_E     145460 non-null  uint8
 47  WindDir3pm_ENE   145460 non-null  uint8
 48  WindDir3pm_ESE   145460 non-null  uint8
 49  WindDir3pm_N     145460 non-null  uint8
 50  WindDir3pm_NE    145460 non-null  uint8
 51  WindDir3pm_NNE   145460 non-null  uint8
 52  WindDir3pm_NNW   145460 non-null  uint8
 53  WindDir3pm_NW    145460 non-null  uint8
 54  WindDir3pm_S     145460 non-null  uint8
 55  WindDir3pm_SE    145460 non-null  uint8
 56  WindDir3pm_SSE   145460 non-null  uint8
 57  WindDir3pm_SSW   145460 non-null  uint8
 58  WindDir3pm_SW    145460 non-null  uint8
 59  WindDir3pm_W     145460 non-null  uint8
 60  WindDir3pm_WNW   145460 non-null  uint8
 61  WindDir3pm_WSW   145460 non-null  uint8
dtypes: float64(14), uint8(48)
memory usage: 22.2 MB

In [20]:
df_final.shape

(145460, 62)

In [21]:
df_final.dropna(axis=0,inplace=True)

In [22]:
df_final['RainTomorrow'].value_counts()

0.0    93403
1.0    26187
Name: RainTomorrow, dtype: int64

In [23]:
#Standardisation / Scaling

In [24]:
#Many ML algorithms perform better when features are on a relatively similar scale , or in other words normally distributed

In [25]:
#We are going to use preprocessing.MinMaxScaler library to do the standardization

In [26]:
scaler = preprocessing.MinMaxScaler()
scaler.fit(df_final)
df_final = pd.DataFrame(scaler.transform(df_final),index=df_final.index, columns=df_final.columns)
df_final.head()

,MinTemp,MaxTemp,Rainfall,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,...,WindDir3pm_NNW,WindDir3pm_NW,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW
0,0.513064,0.446154,0.001632,0.294574,0.229885,0.275862,0.71,0.22,0.449587,0.4800,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.370546,0.494505,0.000000,0.294574,0.045977,0.252874,0.44,0.25,0.497521,0.4912,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.501188,0.507692,0.000000,0.310078,0.218391,0.298851,0.38,0.30,0.447934,0.5056,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.413302,0.558242,0.000000,0.139535,0.126437,0.103448,0.45,0.16,0.613223,0.5712,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.610451,0.652747,0.002720,0.271318,0.080460,0.229885,0.82,0.33,0.500826,0.4624,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
df_final.shape

(119590, 62)